<html>
  <body>
    <div>
      <p>
        Name: <%= "#{@name}" %>
      </p>
      <br/>
      <p>
        Email: <%= "#{@email}" %>
      </p>
      <br/>
      <p>
        Linkedin link: <%= "#{@linkedin_lnk}" %>
      </p>
      <br/>
      <p>
        Like: <%= "#{@like}" %>
      </p>
      <br/>
      <p>
        Not like: <%= "#{@not_like}" %>
      </p>
      <br/>
      <p>
        About: <%= @about %>
      </p>
      <br/>
    </div>
  </body>
</html>
