<html>
  <body>
    <div>
      <p>
        First name: <%= "#{@firstname}" %>
      </p>
      <br/>
      <p>
        Last name: <%= "#{@lastname}" %>
      </p>
      <br/>
      <p>
        Email: <%= "#{@email}" %>
      </p>
      <br/>
      <p>
        Phone: <%= "#{@phone}" %>
      </p>
      <br/>
      <p>
        Content: <%= @content %>
      </p>
      <br/>
    </div>
  </body>
</html>
